{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'student/main.css'%}">
</head>


<body>
    <p>Hello world</h1>
    {% include "student/partials/navbar.html" %}
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    {% include "student/partials/footer.html" %}
</body>
</html>